<div class="bg-[url('/assets/images/test-register-2.jpg')] min-h-screen bg-cover bg-center grid grid-cols-12 items-start gap-4 py-10 min-h-screen h-auto">
    <form [formGroup]="loginForm" (ngSubmit)="tryLogin()" class="px-8 py-8 col-start-2 col-end-8 text-black bg-white rounded-xl h-fit">
        <div class="space-y-2">
            <h2 class="text-3xl text-black sm:text-5xl font-bold"><span class="text-primary">Welcome back</span> friend</h2>
            <p class="font-medium text-xl text-text-main">Log in to resume smart-saving</p>

            <div class="mt-10 mb-0 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                
                @let email = this.loginForm.controls.email;
                <app-input-field
                    [control]="email"
                    colSpan="col-span-4"
                    label="Email Address"
                    autocomplete="email"
                    id="email">
                    <ng-container errors>
                        @if (email.hasError('required')) {
                            Email address is required
                        }
                        @if (email.hasError('email')) {
                            Enter a valid email address
                        }
                    </ng-container>
                </app-input-field>
                
                @let password = this.loginForm.controls.password;
                <app-input-field
                    label="Password"
                    colSpan="col-span-4"
                    id="password"
                    type="password"
                    [control]="password">
                    <ng-container errors>
                        @if(password.hasError('required')) {
                            Password is required
                        }
                    </ng-container>
                </app-input-field>
                
            </div>
            <div class="col-span-6 mb-6">
                <a class="text-xs hover:underline" href="">Forgot password?</a>
            </div>

            <div class="flex gap-4 items-center">
                <button appButton variant="primary" buttonType="submit" [loading]="isSubmitting()">Log in</button>
                <a class="text-sm cursor-pointer hover:underline" routerLink="/register">Don't have an account?</a>
                <p class="text-red-500">
                    {{errorMessage()}}
                </p>
            </div>
    
        </div>
    </form>
</div>