<div class="bg-[url('/assets/images/test-register-2.jpg')] min-h-screen bg-cover bg-center grid grid-cols-12 items-start gap-4 py-10 min-h-screen h-auto">
    <form [formGroup]="registerForm" (ngSubmit)="tryCreateAccount()" class="px-8 py-8 col-start-2 col-end-8 text-black bg-white rounded-xl h-fit">
            <div class="space-y-12">
                <div class="border-b border-white/10 pb-6 flex justify-start gap-2 flex-col">
                
                    <h2 class="text-3xl text-black sm:text-5xl font-bold capitalize"><span class="text-primary">One step closer</span> to financial freedom</h2>
                    <p class="font-medium text-xl">Create an account and start saving smart today</p>

                <!-- First name -->
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    @let firstName = this.registerForm.controls.firstName;
                    <app-input-field
                        id="first-name"
                        [control]="firstName"
                        label="First name"
                        autocomplete="given-name">
                        <ng-container errors>
                            @if (firstName.hasError('required')) {
                                First name is required
                            }
                            @if (firstName.hasError('minlength')) {
                                First name needs at least 2 char
                            }
                        </ng-container>
                    </app-input-field>

                    <!-- Last name -->
                    @let lastName = this.registerForm.controls.lastName;
                    <app-input-field
                        id="last-name"
                        [control]="lastName"
                        label="Last name"
                        autocomplete="family-name">
                        <ng-container errors>
                            @if (lastName.hasError('required')) {
                                Last name is required
                            }
                            @if (lastName.hasError('minlength')) {
                                Last name needs at least 2 char
                            }
                        </ng-container>
                    </app-input-field>

                    <!-- Email -->
                    @let email = this.registerForm.controls.email;
                    <app-input-field
                        colSpan="sm:col-span-4"
                        id="email"
                        [control]="email"
                        label="Email Address">
                        <ng-container errors>
                            @if (email.hasError('required')) {
                                Email is required
                            }
                            @if (email.hasError('email')) {
                                Email needs to be valid
                            }
                        </ng-container>
                    </app-input-field>

                    <!-- Password -->
                    @let password = this.registerForm.controls.password;
                    <app-input-field
                        id="password"
                        [control]="password"
                        label="Password"
                        autocomplete="password"
                        type="password">
                        <ng-container errors>
                            @if (password.hasError('required')) {
                                Password is required
                            }
                            @if (password.hasError('minlength')) {
                                Password needs at least 8 char
                            }
                        </ng-container>
                    </app-input-field>

                    <!-- Confirm Password -->
                    @let confirmPassword = this.registerForm.controls.confirmPassword;
                    <app-input-field
                        id="confirm-password"
                        [control]="confirmPassword"
                        label="Confirm Password"
                        autocomplete="password"
                        type="password">
                        <ng-container errors>
                            @if (confirmPassword.hasError('required')) {
                                Password is required
                            }
                            @if (confirmPassword.hasError('passwordMismatch')) {
                                Passwords don't match
                            }
                        </ng-container>
                    </app-input-field>

                    <!-- Country -->
                    @let country = this.registerForm.controls.country;
                    <div class="sm:col-span-3">
                            <label for="country" class="grid grid-cols-1 text-sm/6 font-medium">
                                <span [class.opacity-0]="country.invalid && country.touched" class="col-start-1 row-start-1 transition-opacity duration-150">Select country</span>
                                <span [class.opacity-0]="country.invalid && country.untouched" class="col-start-1 row-start-1 text-red-500 transition-opacity duration-150">
                                    @if(country.hasError('required')) {
                                        Country is required
                                    }
                                </span>
                            </label>
                            <div class="group mt-2 grid grid-cols-1">
                                <select 
                                    formControlName="country"
                                    id="country"
                                    name="country" 
                                    (blur)="markIfInvalid(country)"
                                    (change)="markIfInvalid(country)"
                                    [class.outline-red-500]="country.invalid && country.touched"
                                    autocomplete="country-name" 
                                    class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pr-8 pl-3 text-base outline-1 -outline-offset-1 outline-[var(--color-input-border,#D1D5DB)] focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6 [&>option]:bg-white/5 [&>option]:text-black"
                                >
                                    <option value="" disabled selected>Select</option>
                                    <option value="Denmark">Denmark</option>
                                    <option value="Sweden">Sweden</option>
                                    <option value="Poland">Poland</option>
                                </select>
                                <svg 
                                viewBox="0 0 16 16" 
                                fill="currentColor" 
                                data-slot="icon" 
                                aria-hidden="true" 
                                class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 transition-transform duration-200 group-focus-within:rotate-180 group-has-[:open]:rotate-180 sm:size-4"
                                >
                                <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                    </div>

                    <!-- Postal code -->
                    @let postalCode = this.registerForm.controls.postalCode;
                    <app-input-field
                        colSpan="sm:col-span-2"
                        id="postal-code"
                        [control]="postalCode"
                        label="Postal Code">
                        <ng-container errors>
                            @if (postalCode.hasError('required')) {
                                Postal code is required
                            }
                            @if (postalCode.hasError('invalidPostalCode')) {
                                Postal code is invalid
                            }
                        </ng-container>
                    </app-input-field>
                    
                    <!-- Street -->
                    @let street = this.registerForm.controls.street;
                    <app-input-field
                        colSpan="col-span-full"
                        id="street-address"
                        [control]="street"
                        label="Street Address">
                        <ng-container errors>
                            @if (street.hasError('required')) {
                                Street Address is required
                            }
                        </ng-container>

                    </app-input-field>
                </div>
                
                <!-- Sign in / Create account button -->
                    <div class="flex gap-4 items-center mt-4">
                        <button appButton variant="primary" buttonType="submit" [loading]="isSubmitting()">
                            Create account
                        </button>
                        <a class="text-sm cursor-pointer hover:underline" routerLink="/login">Already have an account?</a>
                    </div>
                </div>
            </div>
        </form>

        <!-- Right side text -->
        <!-- @if(messages()) {
            <div class="flex flex-col gap-4 col-start-8 col-end-12 rounded-xl bg-white p-4">
                <div>
                    <h2 class="text-2xl text-black sm:text-3xl font-bold capitalize">
                        <ng-content select="[sidebar-title]"></ng-content>
                    </h2>
                </div>
                <ul class="flex flex-col gap-4">
                    @for (message of messages(); track message.title) {
                        <li class="flex flex-col">
                            <h3 class="text-orange font-bold">{{message.title}}</h3>
                            <p class="text-sm">{{message.description}}</p>
                        </li>
                    }
                </ul>
            </div>
        } -->
    </div>